*{
  margin:0px;
  padding:0px;
}

.fondo1{
  background-color: #ecf4ff;
}

.fondo2{
  background-color: #dbeaff;
}

.fullHeight {
    min-height: 90vh;
}

.btnhome{
  height: 20vh;
  width: 38vh;

}

.homecontainer{
  height: 92vh;

}



.headhome{
  font-family: 'Coolvetica', sans-serif !important;
  background-image:  url(../assets/bcf.png);  
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom: solid;
  
  
}





.bodyhome{
  background-color: "";
}

.footer.f{
  position: absolute;
  bottom: 0;
}

.link-style {
  color: #212529;
  text-decoration: none;
 
}
.link-style:hover {
  color: black; /* Cambia el color a rojo cuando se pasa el mouse sobre el enlace */
}

